@charset "UTF-8";


/*CORES Utilizada no site
#c5ebd6, #83e1ad, #3ddc84, #2fa866, #1a5c37,#063d1e*/

/* FONTE IMPORTADA DO GOOGLE*/
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

/* FONTE DA PASTA RAIZ*/
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* CRIAR UMA VARIAVEL COM :ROOT PARA LINKA AS CORES*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    /*VARIAVEIS DE FONTE (linkando do google e da pasta raiz*/
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursiva;
    --fonte-android: 'android', cursive;
}

* { /* deixa todas as caixas da pagina sem bordas*/
    margin: 0px;
    padding: 0px;
} 

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517'; /*00A0 codigo de espaço, 1F517 codigo do emoji*/
}

header { /*Cabeçalho*/
   
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5)); /*cria um degrade de cores*/
    min-height: 150px; /*Altura do bloco*/
    text-align: center;
    padding-top: 40px; /* espaço entre margem superior da pagina e o texto*/

}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.18);

    
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.18);
    padding-bottom: 50px;

}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.175)
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px ; /*deixa borda do menu arredondado*/
    text-decoration: none;
    font-weight: bold; /* fonte em negrito*/
    transition-duration: 0.5s; /*tempo que o efeito leva para ocorrer no menu*/
}

nav a:hover{  /*links do menu*/
    background-color: var(--cor2);
    color: var(--cor5);

}

main {
    
    min-width: 300px; /* valor minimo para 300px depois e criado barra de rolagem*/
    max-width: 800px; /* bloco de todo conteudo principal se espande no maximo 800px*/
    margin: auto; /*apos 800px bloco principal fica centralizado*/
    margin-bottom: 30px; /* Separa o bloco principal da pagina do rodapé*/
    border-bottom-left-radius: 10px; /* borda de baixo da esquerda arredondada*/
    border-bottom-right-radius: 10px;/*borda de baixo da direita arredondada*/
    padding: 20px; 
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.316); /*Sombra ao redor do Bloco principal da pagina*/
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em; /*Espaçamento entre lionha do texto*/
    font-size: 1em;
    
}

main strong {
    color: var var(--cor4);
    font-weight: bold;

}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover { /*Quando passar o curso em cima do link*/
    text-decoration: underline;
    color: var(--cor5);
}

main img{
    width: 100%; /* define que a imagem vai ter sempre 100% de largura dentro do bloco main*/
}

main img.pequeno {
    max-width: 350px;
    display: block; /*Como imagem não é bloco precisa definir dentro de um bloco para configurar a localização da imagem*/
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -10px  30px -20px; /*Fora*/
    padding: 40px; /*Dentro*/
    padding-bottom: 53.5%; /*Configura o video do you tube para não mostrar barra no play*/
    position: relative; /*Posição fica solto dentro do bloco div*/
}

div.video > iframe {
    position: absolute;
    top: 5%;
    leaft: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;

}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px; /*h3 vai encontar na margem de cima do aside*/
    border-radius: 10px 10px 0px 0px; /*Arredondar pontas*/
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*Funciona somente no chrome , sina de visto*/
    list-style-position: inside;
    columns: 2;

}

footer { /*Rodapé*/
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}